<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>WELCOME admin</h2>

    
    <a href="/viewstd">View student</a>
    <a href="/viewtchr">View Teacher</a>
    <a href="/approvestudent">Approve student</a>
    <a href="/approveteacher">Approve Teacher</a>
    <a href="/deletestd">Delete student</a>
    <a href="/deletetchr">Delete Teacher</a>

    
</body>
</html>