<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <input type="text" name="firstname" value="{{view.firstname}}" placeholder="firstname"><br><br>
        <input type="text" name="lastname" value="{{view.lastname}}" placeholder="lastname"><br><br>
        <input type="text" name="address" value="{{view.address}}" placeholder="address"><br><br>
        <input type="email" name="email" value="{{view.email}}" placeholder="email"><br><br>
        <input type="number" name="phone_number" value="{{view.phone_number}}" placeholder="phone number"><br><br>
        <input type="text" name="guardian" value="{{view.guardian}}" placeholder="Guardian"><br><br>
        <input type="submit" value="submit">

    </form>
</body>
</html>