<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
  
        <div class="left">
            <img src="" alt="Student">
            <h2>I am a Student</h2>
            <a href="/studentreg">Register</a>
            
        </div>
        <div class="right">
            <img src="" alt="Teacher">
            <h2>I am a Teacher</h2>
            <a href="/teacherreg">Register</a>
           
          
        </div>
    </div>
</body>
</html>