<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2">
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Salary</th>
            <th>Experience</th>

        </tr>
        {% for i in view %} 
        <tr>
            <td>{{i.firstname}}</td>
            <td>{{i.lastname}}</td>
            <td>{{i.email}}</td>
            <td>{{i.phone_number}}</td>
            <td>{{i.address}}</td>
            <td>{{i.salary}}</td>
            <td>{{i.experience}}</td>

        </tr>
        {% endfor %}
    </table>
</body>
</html>